body {
    background: #535455;
  }
  
  .content {
    max-width: 800px;
    margin: 0 auto;
    padding: 30px;
  }
  
  svg {
    overflow: visible;
  }
  
  button {
    display: block;
    margin: 40px auto 0;
  }